@import url("common.css");

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 30px;
}

.content .head-fm{
    margin-bottom: 50px;
}
.content .likedMovies{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .likedMovies .card{
    display: flex;
    border-radius: 10px;
    border: 0.5px solid rgb(93, 113, 227);
    width: 100%;
    height: auto;
    overflow: hidden;
    height: 100%;
    margin-bottom: 20px;
    background-color: #134B70;
    cursor: pointer;
    color:#EEEEEE;
}
.content .likedMovies .card:hover{
    background-color: #134b70a1;
}
.card .img{
    width:180px;
    margin:0; 
}
.img img{
    min-width: calc(250px / 1.5);
    height: 250px;
    margin:0;
}
.titleDate p{
    opacity: 0.5;  
}

.description {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-left: 10px;
}


.description .titleDate{
    padding:20px 0px;
}
.description .overview p{
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Maksimum 4 satır */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width:620px) {
    .overview {
        display: none;
    }
    .img{
        margin:0;
    }
    
    .card{
        display: flex;
        width: 200px;
    }
    .description{
        width: 200px;
    }
}