@import url("common.css");

.searchDiv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.searchDiv #searchBar{
    width:300px;
    padding:5px 10px;
    border-radius: 15px;
    border:none;
    margin-right: 10px;
    outline:none;
}

.searchDiv #searchBtn{
    padding: 5px 7px;
    border-radius: 20px;
    border:none;
    background-color: #134B70;
    transition: background-color 0.5s ease;
    cursor: pointer;
}
.searchDiv #searchBtn:hover{
    background-color: #134b705d;
}

.content .links{
    margin-top:20px;  
    display: flex;
    justify-content: center;
    color:#EEEEEE;
}

.links a{
    margin-right:10px;
    text-decoration: none;
    font-weight: bold;
    color: #EEEEEE;
    transition: color 0.5s ease;
    transition: text-shadow 0.5s ease;
}



.links a:hover{
    color:#eeeeeec8;
}

.movie-cards{
    margin:50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card{
    background-color: #134B70;
    width:200px;
    border-radius: 10px;
    overflow: hidden;
    margin:20px 15px;
    cursor: pointer;
}
.card:hover{
    background-color: #134b70a1;
}

.card img{
    width:100%;
}
.card .description{
    padding: 10px;
}
.card .description .title{
    font-weight: 600;
}

.pagination-buttons{
    display: flex;
    justify-content: center;
}

.pagination-buttons button{
    background-color: #134B70;
    color:#EEEEEE;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    padding:5px 10px;
    margin-right: 10px;
    margin-bottom:50px;
    cursor: pointer;
    transition: background-color  0.5s ease;
}

.pagination-buttons button:hover{
    background-color: rgb(235, 139, 21);
    color:black;
}

